.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #FAF9F9;
  padding: 10px;
}

.grid-container1 > div {
  background-color: #FAF9F9;
  border: none;
  text-align: center;
  font-size: 30px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  text-align: center;
  font-size: 30px;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #3b88c3;
  padding: 10px;
}

.grid-container-footer > div {
  background-color: #3b88c3;
  border: black;
  text-align: right;
  font-size: 30px;
}

.container-fluid {
  padding-right:0;
  padding-left:0;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

.centre {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.browsebar {
    overflow: hidden;
    background-color: lightgray;
    font-weight: lighter;
    z-index: 10;
}

.browse-item {
    color: black;
    text-align: center;
    z-index: 11;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
