* {
    font-family: "Rubik", "sans-serif";
}

div {
    margin-top: 50px;
}

h1 {
    color: black;
    font-size: 40pt;
}

p {
	color: gray;
	float: right;
}

image {
  float: left;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3b88c3;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  color: white;
}

li.branding {
  font-size: 25px;
  font-weight: bolder;
  color: white;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  li a:not(:first-child) {display: none;}
  li a.icon {
    float: right;
    display: block;
  }
}
