.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #FAF9F9;
  padding: 10px;
}

.grid-container1 > div {
  background-color: #FAF9F9;
  border: none;
  text-align: center;
  font-size: 30px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.grid-container2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  text-align: center;
  font-size: 30px;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #3b88c3;
  padding: 10px;
}

.grid-container-footer > div {
  background-color: #3b88c3;
  border: none;
  text-align: center;
  font-size: 30px;
}
