{% extends "layout.html" %}

{% block title %}
    Browse
{% endblock %}

{% block main %}
<div class = "browsebar" id = "browsebar">
    <div class = "browse-item" style = "justify-content: center;"><p>Browse flights below</p></div>
</div>

<div class="container-fluid">
    <div class="row">
    {% for flight in flights_list %}  
    <div class="col-sm-6 card">
        <h4>{{ flight.source }}</h4>
        <h4>{{ flight.dest }}</h4>
        <h4>{{ flight.price | gbp }}</h4>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}