{% extends "layout.html" %}

{% block title %}
    Browse
{% endblock %}

{% block main %}
<div class = "browsebar" id = "browsebar">
    <div class = "browse-item" style = "justify-content: center;"><p>Browse stocks below</p></div>
</div>

<div class="container-fluid">
    <div class="row">
    {% for stock in stocks_list %}  
    <div class="col-sm-6 card">
        <h4>{{ stock.symbol }}</h4>
        <h4>{{ stock.name }}</h4>
        <h4>{{ stock.price | usd }}</h4>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}