{% extends "layout.html" %}

{% block title %}
    Universe of Stocks
{% endblock %}

{% block main %}
<div class = "container">
	<div class="grid-container1">
	  <div class="grid-item"><h1>Welcome to ValueMe!</h1><br><p>We make due diligence on value plays streamlined and stress free.</p></div>
	  <div class="grid-item"><img src="static/AdobeStock.jpeg" style="width:400px;height:400px;"></div>
	</div>
</div>

<div class = "container">
	<div class="grid-container2">
	  <div class="grid-item"><p>Observe, track and calculate metrics on thousands of stocks. Instantly.</p></div>
</div>

<div class = "container">
	<div class="grid-container2">
	  <div class="grid-item"><img src="static/stephen-dawson-qwtCeJ5cLYs-unsplash.jpg" style="width:400px;height:400px;"></div>
	  <div class="grid-item"><img src="static/tech-daily-wcHwSy_JE4c-unsplash.jpg" style="width:400px;height:400px;"></div>
	  <div class="grid-item"><img src="static/luke-chesser-JKUTrJ4vK00-unsplash.jpg" style="width:400px;height:400px;"></div>
	</div>
</div>

<footer>
<div class = "container">
	<div class="grid-container-footer">
	<div></div>
	<div></div>
	<div></div>	
	<div class="grid-item"><img src="static/vm2.png" style="width:120px;height:30px;"></div>
	</div>
</div>
</footer>
{% endblock %}