{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class = "container-fluid">
	<div class="grid-container1">
	  <div class="grid-item"><h1>Welcome to travelbot!</h1><br><p>We search through thousands of flights daily so you don't have to.</p></div>
	  <div class="grid-item"><img src="static/images/AdobeStock.jpeg" style="width:400px;height:400px;"></div>
	</div>
</div>

<div class = "container-fluid">
	<div class="grid-container2">
	  <div class="grid-item"><p>Stuck where to go next? Use travelbot to find your next low cost destination.</p></div>
</div>

<div class = "container-fluid">
	<div class="grid-container2">
	  <div class="grid-item"><img src="static/images/stephen-dawson-qwtCeJ5cLYs-unsplash.jpg" style="width:400px;height:400px;"></div>
	  <div class="grid-item"><img src="static/images/tech-daily-wcHwSy_JE4c-unsplash.jpg" style="width:400px;height:400px;"></div>
	  <div class="grid-item"><img src="static/images/luke-chesser-JKUTrJ4vK00-unsplash.jpg" style="width:400px;height:400px;"></div>
	</div>
</div>

<footer>
<div class = "container-fluid">
	<div class="grid-container-footer">
	<div></div>
	<div></div>
	<div></div>	
	<div class="grid-item"><img src="static/images/vm2.png" style="width:120px;height:30px;"></div>
	</div>
</div>
</footer>
{% endblock %}