<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="/static/layoutstyles.css" rel="stylesheet">

  <link href="/static/styles.css" rel="stylesheet">

  <!-- https://favicon.io/emoji-favicons/up-right-arrow -->
  <link href="/static/vm1.png" rel="icon">

  <title>ValueMe: {% block title %}{% endblock %}</title>

</head>
<body>
  <div class="topnav" id="myTopnav">
    <a class = "logo" href="#" style="margin-left:35px"><img src="static/vm2.png" style="width:120px;height:30px;margin-left:15px;margin-top:5px;"></a>
    <a href="#home" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a class = "rhs" href="#login">Login</a>
    <a class = "rhs" href="#register">Register</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <main>
    {% block main %}{% endblock %}
  </main>

  <script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  </script>
</body>
</html>