<!DOCTYPE html>

<html lang="en">
	<head>
		
		<meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/4.5/ -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- Import fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

        <link href="/static/styles.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/up-right-arrow -->
        <link href="/static/favicon.ico" rel="icon">

        <title>ValueMe: {% block title %}{% endblock %}</title>

        <body>
            <!-- Image and text -->
            <nav class="navbar navbar-dark navbar-expand-lg py-0" style="background-color: #3b88c3">
              <div class="navbar-brand" href="#">
                <img src="/static/favicon.ico" width="30" height="30" alt="">
                ValueMe
              </div>

               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navLinks" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>

              <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                  </li>
                </ul>
              </div>
            </nav>

        	<main>
            {% block main %}{% endblock %}
        	</main>
        	
        </body>

	</head>
</html>